.container{
    padding-top: 115px;
}

h1{
    color: #1b1464;
    font-weight: bold;
    margin: 0 100px 40px 100px;
    text-align: center;
    border: 1px solid transparent;

        
}

h1:hover{
    border-bottom: 1px solid #1b1464;
    
}

.new_active{
    width: 1200px;
    margin: auto;
    background-color: rgb(250, 250, 241);
    padding-top:80px ;
    
    
}

.new_active_item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}

.new_active .advertise{
    width: 300px;
    position: relative;
}

.new_active .advertise .active_pic{
    width: 300px;
    
}

.new_active .advertise h2{
    font-size: 30px;
    position: absolute;
    top: 70px;
    left: 90px;
    color: #fff;

}

.new_active .shop{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

.new_active .shop_item{
    position: relative;
    margin-left: 20px;
    height: 180px;
    margin-top: 20px;
    
}

.new_active .shop_item:nth-child(-n+3){
    margin-top: 0;
}

.new_active .shop_item .shop_pic{
    width: 180px;
    
}

.new_active .shop_item .shop_txt{
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 40px 30px 0 30px;
    background-color: rgba(0, 0, 0, 0.349);
    color: #fff;
    display: none;
    opacity: 0;
    transition: 1s;
    line-height: 30px;
    
    
}

.new_active .shop_item:hover .shop_txt{
    display:  block;
    opacity: 1;
}

.new_active .target{
    width: 15px;

}



.discount{
    width: 1200px;
    margin: auto;
    background-color: rgb(250, 250, 241); 
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
}

.discount h1{
    display: inline-block;
    margin-bottom: 30px;
    
}

.discount h2{
    color: #134e6c;

}

.discount_wrap{
    width: 920px;
    padding: 20px 0 20px 0;
    margin: 0px 140px;
    border-radius: 10px;
    
}

.discount_wrap a{
    text-decoration: none;

}

.discount_item{
    width: 440px;
    display: flex;
    background-color:rgba(248, 170, 149, 0.15);
    margin-bottom: 20px;
    border-radius: 3px;
    margin-left: 20px;

}

.discount_item:hover{
    transform: scale(1.03,1.03);

}

.discount_item:nth-child(odd){
    margin-left: 150px;
}

.discount_item img{
    width: 250px;
    
}

.discount_item .discount_txt{
    width: 350px;
    padding: 10px 0 5px 0;
    text-align: center;

}

.discount_item h2{
    margin: 20px;
    line-height: 30px;

}

.discount_item p{
    height: 90px;
    margin: 10px;
    line-height: 30px;
    color: #696565;
    border-right: 2px solid #ab917f;
    padding-right: 5px;
    
}

.discount .more{
    margin-left: auto;
    font-size: 20px;
    color: #1b1464;
}

.discount .more:hover{
    transform: scale(1.1,1.1) ;
    font-weight: bold;

}

.discount a{
    text-decoration: none;

}