.container{
    padding-top: 115px;
}

h2{
    color: #134e6c;
    line-height: 40px;
}

hr{
    margin: 20px 0;
    margin-left: 50px;
    width: 90%;
    border-top: 1px dashed #ab917f ;
}

.business{
    width: 1200px;
    margin: auto;
    background-color: rgb(250, 250, 241); 
    padding: 40px;
    padding-bottom: 100px;
}

.information{
    display: flex;
    flex-wrap: wrap;
    margin-left: 119px;
    margin-bottom: 100px;
    
}

.business_pic{
    width:45%;
    border-radius: 3px;
}

.business_txt{
    width: 32.9%;
    line-height: 30px;
    margin-left: 20px;
    padding-top: 80px;
    padding-left: 100px;
    color: #696565;
    background-color:rgba(248, 170, 149, 0.15);
    border-radius: 3px;
    border: 1px dashed #ab917f;

}

.score_wrap{
    display: flex;
    flex-wrap: wrap;
   margin-bottom: 10px;
}

.score_wrap p{
    font-size: 20px;
    margin-left: 10px;
    color: #ff8563;
}

.target{
    width: 14px;
}

.discount, .service, .introduce{
    margin-left: 119px;
    padding: 30px 0;
}

.discount h2, .service h2, .introduce h2{
    padding-left: 20px;
}

.discount p, .service p, .introduce p{
    color: #696565;
    line-height: 30px;
    background-color:rgba(248, 170, 149, 0.15);
    padding: 20px;
    width: 85.333333%;
}
